
    <%- include('partials/_header');  %>
 
 
    <div class="row">
        <div class="col-md-8">
 
        </div>
        <div class="col-md-4">
           <div class="card text-left">
             <img class="card-img-top"  >
             <div class="card-body">
              <form action="/update/<%= data.id %>" method="POST">  
               <h4 class="card-title">Field from</h4>
               <p class="card-text">
                  <div class="form-group">
                    <label for="name">Name Field</label>
                    <input type="text" name="name" id="name" class="form-control"    value="<%= data.name %>" placeholder="" aria-describedby="helpId">
                    
                  </div> 
                     <div class="form-group">
                       <label for="caption">Caption</label>
                       <input type="text" name="caption" id="caption" class="form-control" value="<%= data.caption %>" placeholder="" aria-describedby="helpId">
                       
                       <div class="form-group">
                        <label for="Type">Type</label> 
                        <select name="Type" id="Type"  value="<%= data.type %>"   class="form-control" >
                         <option value="text">text</option> 
                         <option  value="select">select</option> 
                       </select>
                        <small id="helpId" class="text-muted">Type text</small>
                      </div>
                     <div class="form-group">
                       <label for="value">Value</label>
                       <input type="text" name="value" id="value" class="form-control" value="<%= data.value %>" placeholder="" aria-describedby="helpId">
                       
                     </div>
                     <div class="form-group">
                       <label for="Group">Group</label>
                       <input type="text" name="Group" id="Group" class="form-control"  value="<%= data.group %>" placeholder="" aria-describedby="helpId">
                       
                     </div>
                     <button type="submit" class="btn btn-primary">
                         Edit field
                        
                     </button>
               </p>
               
              </form>
             </div>
           </div>
      </div>
     
    </div>


  <%- include('partials/_footer');  %>
